<footer class="footer" id="footer">
  <div class="main-footer-box">
    <nav>
      <div class="footer-box">
        <p class="footer-parag-desc">
          All rights reserved cooljoyadventure.com | 2024
        </p>

        <a href="./index.html" aria-label="Go to the main page">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/home/desc/logo.png   1x,
                ./img/home/desc/logo2x.png 2x
              "
              type="image/png"
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./img/home/mob/logo_mob.png   1x,
                ./img/home/mob/logo2x_mob.png 2x
              "
              type="image/png"
            />

            <img
              class="logo"
              src="./img/home/mob/logo_mob.png"
              alt="header-logo"
              width="52px"
              height="52px"
              loading="lazy"
            /> </picture
        ></a>

        <ul class="footer-nav-list">
          <li>
            <a href="./privacy-policy.html" class="nav-link-footer active"
              >Privacy policy</a
            >
          </li>
          <li><span class="span-footer">|</span></li>
          <li>
            <a href="./terms-of-service.html" class="nav-link-footer"
              >Terms of Sercive</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <p class="footer-parag">All rights reserved cooljoyadventure.com | 2024</p>
  </div>
</footer>
