<section class="section-margin">
  <div class="information-box">
    <h2>Information We Collect</h2>
    <p class="parag-information">
      We may collect the following types of information when you use our game or
      website:
    </p>

    <ul class="list-information">
      <li class="item-information">
        <p>
          Personal Data: We do not collect personal information such as your
          name, email address, or phone number unless you provide it voluntarily
          (e.g., by signing up for a newsletter on cooljoyadventure.com).
        </p>
      </li>
      <li class="item-information">
        <p>
          Usage Data: We collect data related to your use of the game and
          cooljoyadventure.com, including gameplay statistics, in-app purchases,
          device information (such as device ID and operating system), and
          website browsing behavior.
        </p>
      </li>
      <li class="item-information">
        <p>
          Location Data: We may collect general location data (e.g., country or
          region) based on your IP address when accessing cooljoyadventure.com
          or playing the game.
        </p>
      </li>
    </ul>
  </div>
</section>
