<section class="section-margin">
  <div class="privacy-main-box">
    <div class="privacy-title-box">
      <button class="btn-arrowBack" type="submit">
        <a href="./index.html" aria-label="Go to the main page">
          <img
            class="back-arrow"
            src="./img/for-all/back-arrow.png"
            srcset="
              ./img/for-all/back-arrow.png   1x,
              ./img/for-all/back-arrow2x.png 2x
            "
            alt="back-arrow"
            width="36px"
            height="27px"
            loading="lazy"
          />
        </a>
      </button>

      <h2 class="privacy-title">Privacy Policy</h2>
    </div>

    <div class="privacy-parag-box">
      <div class="privacy-text-box">
        <p class="privacy-parag-data">Last updated: 07.10.2024</p>
        <p class="privacy-main-parag">
          This Privacy Policy explains how we collect, use, and share your
          information when you play our game or visit cooljoyadventure.com.
        </p>
      </div>

      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./img/privacy-policy/desc/privacy_policy-picture.png   1x,
            ./img/privacy-policy/desc/privacy_policy-picture2x.png 2x
          "
          type="image/png"
        />

        <source
          media="(min-width: 320px)"
          srcset="
            ./img/privacy-policy/mob/privacy_policy-picture_mob.png   1x,
            ./img/privacy-policy/mob/privacy_policy-picture2x_mob.png 2x
          "
          type="image/png"
        />

        <img
          class="privacy-picture"
          src="./img/privacy-policy/mob/privacy_policy-picture_mob.png"
          alt="picture-privacy-picture"
          width="110px"
          height="160px"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
