<section class="section-margin">
  <h2>Third-Party Services</h2>
  <p class="parag-third">
    We may use third-party services (such as analytics tools, advertising
    networks, or payment processors) that collect and process data to provide
    better services through the game or cooljoyadventure.com. These third
    parties may have access to some of your non-personal data, like device
    information, usage statistics, or browsing behaviour, but they do not
    collect personal information unless you provide it directly to them.
  </p>
</section>
