<section class="section-margin">
  <h2 class="use-info-title parag-wrapper">How We Use Your Information</h2>
  <p class="parag-use-info parag-wrapper">We use the collected data to:</p>

  <ul class="list-use-info">
    <li class="item-use-info">
      <p class="item-parag-use-info">
        Improve gameplay experience, website functionality, and develop new
        features.
      </p>
    </li>
    <li class="item-use-info">
      <p class="item-parag-use-info">
        Monitor and analyze usage patterns to optimize game performance and
        website content.
      </p>
    </li>
    <li class="item-use-info">
      <p class="item-parag-use-info">
        Ensure the game operates correctly across different devices and
        platforms.
      </p>
    </li>
    <li class="item-use-info">
      <p class="item-parag-use-info">
        Provide you with relevant offers or promotions through
        cooljoyadventure.com if applicable.
      </p>
    </li>
  </ul>
</section>
