.about-box {
  position: relative;
  margin: 0 auto;
  width: 256px;
}

.about-img {
  position: absolute;
  top: 40px;
  right: 0px;
}

.about-parag-box {
  display: flex;
  align-items: center;
  border-radius: 30px 60px 60px 30px;
  width: 188px;
  height: 372px;
  background: linear-gradient(148deg, #f4e7b2 0%, #fdc331 100%);
  height: 372px;
}

.about-parag {
  width: 140px;
  padding-left: 10px;
}
