.gallery-container {
  max-width: 265px;
  margin: 0 auto;
}

.swiperGallery {
  width: 100%;
}

.gallery {
  margin-bottom: 30px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 204px;
  height: 113px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: #7ec3f2 !important;
  width: 10px;
  height: 10px;
  opacity: 1 !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 25px !important;
  border-radius: 5px !important;
  opacity: 1;
}

.swiperGallery .swiper-button-prev::after {
  display: none;
}

.swiperGallery .swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  width: 1px !important;
  height: 1px !important;
}

.swiper-button-next {
  width: 1px !important;
  height: 1px !important;
}

.gallery-arrow-next {
  position: absolute;
  right: -4px;
  top: -8px;
  max-width: 36px;
  height: 27px;
  transition: var(--transition);
}

.gallery-arrow-prev {
  position: absolute;
  left: -4px;
  top: -8px;
  max-width: 36px;
  height: 27px;
  transition: var(--transition);
}

.gallery-arrow-prev:active {
  transform: scale(1.2);
}

.gallery-arrow-next:active {
  transform: scale(1.2);
}

@media only screen and (min-width: 1200px) {
  .gallery-container {
    max-width: 1040px;
    margin: 0 auto;
  }

  .gallery {
    margin-bottom: 40px;
  }

  .swiper-slide img {
    width: 862px;
    height: 480px;
    border-radius: 30px;
  }

  .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    transition: var(--transition) !important;
  }

  .swiper-pagination-bullet-active {
    width: 45px !important;
  }

  .gallery-arrow-next {
    top: -48px;
    right: -10px;
    max-width: 147px !important;
    height: 100px !important;
  }

  .gallery-arrow-prev {
    top: -48px;
    left: -10px;
    max-width: 147px !important;
    height: 100px;
  }
}
