.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 40px;
}

.heroTitle {
  font-family: var(--second-family);
  font-size: 24px;
  font-weight: 600;
  color: var(--accent-text-colour);
  text-align: center;
}

.main-btn-googlePlay {
  position: relative;
  margin: 0 auto;
  border-radius: 30px;
  padding: 6px 50px;
  width: 256px;
  height: 53px;
  background-color: var(--white);
}

.main-btn-googlePlay:hover {
  background: linear-gradient(158deg, #2d98fa 0%, rgba(45, 152, 250, 0.3) 100%);
}

.main-btn-googlePlay:active {
  background: var(--purple-button-active);
}

.main-link-googlePlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
}
