.hero {
  display: flex;
  width: 256px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media only screen and (min-width: 1200px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    width: 862px;
    height: 326px;
  }
}

.main-picture {
  border-radius: 30px;
}

@media only screen and (min-width: 1200px) {
  .main-picture {
    width: 326px;
    height: 326px;
  }
}

.heroTitle {
  width: 120px;
  margin-bottom: 0px;
}

@media only screen and (min-width: 1200px) {
  .heroTitle {
    width: 504px;
  }
}

.margin-top {
  margin-top: 40px !important;
}