.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 40px;
}

.heroTitle {
  font-family: var(--second-family);
  font-size: 24px;
  font-weight: 600;
  color: var(--accent-text-colour);
  text-align: center;
}

.googlePlay {
  padding: 6px 50px;
  border-radius: 30px;
  background: var(--White, #fff);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
