.mainBox-ready {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1200px) {
  .mainBox-ready {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 80px;
    width: 1040px;
  }
}

.ready-title {
  font-family: var(--third-family);
  width: 152px;
  font-weight: 900;
  font-size: 10px;
  margin: 0 auto;
  text-align: center;
  color: var(--accent-text-colour);
  margin-bottom: 10px;
}

@media only screen and (min-width: 1200px) {
  .ready-title {
    font-size: 24px;
    width: 320px;
    margin-bottom: 40px;
  }
}

.ready-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 256px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 1200px) {
  .ready-box {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 1200px) {
  .ready-box-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 1200px) {
  .ready-img {
    width: 236px;
    height: 236px;
    margin-bottom: 40px;
  }
}

.ready-logo-title {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .ready-logo-title {
    display: block;
    width: 415px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 48px;
  }
}

.ready-parag {
  width: 120px;
  margin-right: 16px;
}

@media only screen and (min-width: 1200px) {
  .ready-parag {
    display: none;
  }
}

.ready-parag-desc {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .ready-parag-desc {
    text-align: center;
    display: block;
    width: 504px;
  }
}
