.reviews-container {
  max-width: 256px;
  margin: 0 auto;
}

.cardSvg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  margin-top: 10px;
  margin-right: 40px;
  width: 16px;
  height: 16px;
  fill: #004080;
}

.review-card {
  position: relative;
  margin-bottom: 10px;
  background: #f5f5f5;
  padding: 12px 60px 10px 18px;
  border-radius: 10px 60px 60px 10px;
  height: 93px;
}

.first {
  background-color: var(--blue);
}

.second {
  background-color: var(--yellow);
}

.third {
  margin-bottom: 10px;
  background-color: var(--green);
}

h3 {
  color: var(--main-text-colour);
  font-family: var(--third-family);
  font-size: 10px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 10px;
}

.review-card::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0;
  bottom: 0;
  width: 8px;
  background-color: var(--accent-text-colour);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.swiper-pagination-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: #7ec3f2 !important;
  width: 10px !important;
  height: 10px !important;
  opacity: 1 !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 25px !important;
  border-radius: 5px !important;
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .reviews-container {
    max-width: 862px;
  }

  .reviews-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
  }

  .swiper-slide {
    margin-bottom: 40px;
    width: 100% !important;
  }

  .cardSvg {
    margin-top: 16px;
    margin-right: 57px;
    width: 32px;
    height: 32px;
  }

  .review-card {
    display: inline-block;
    margin-bottom: 40px;
    padding: 10px 80px 10px 56px;
    border-radius: 24px 120px 120px 24px;
    height: 142px;
  }

  .third {
    margin-bottom: 10px;
  }

  h3 {
    font-size: 24px;
  }

  .review-card::before {
    width: 16px;
  }
}
