.service-main-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-title {
  width: 120px;
}

.service-parag-box {
  display: flex;
  justify-content: center;
}

.service-parag-data {
  margin-bottom: 10px;
}

.service-main-parag {
  width: 136px;
}
