.btn-googlePlay {
  position: relative;
  margin: 0 auto;
  border-radius: 30px;
  padding: 6px 50px;
  width: 256px;
  height: 53px;
  background-color: var(--white);
  transition: var(--transition);
}

.btn-googlePlay:hover,
.btn-googlePlay:focus {
  background: linear-gradient(158deg, #2d98fa 0%, rgba(45, 152, 250, 0.3) 100%);
}

.btn-googlePlay:active {
  background: var(--purple-button-active);
}

.btn-googlePlay-link {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
}
