.footer {
  padding: 0 32px 40px;
}

@media only screen and (min-width: 1200px) {
  .footer {
    padding: 0px 80px 103px;
  }
}

.main-footer-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

@media only screen and (min-width: 1200px) {
  .main-footer-box {
    flex-direction: row-reverse;
    align-items: center;
    width: 1040px;
  }
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1200px) {
  .footer-box {
    margin-bottom: 0px;
  }
}

.footer-nav-list {
  display: flex;
  gap: 3px;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  color: var(--accent-text-colour);
}

@media only screen and (min-width: 1200px) {
  .footer-nav-list {
    width: 415px;
    justify-content: center;
  }
}

.nav-link-footer {
  display: block;
  transition: var(--transition);
}

.nav-link-footer:hover,
.nav-link-footer:focus {
  transform: scale(1.03);
}

@media only screen and (min-width: 1200px) {
  .nav-link-footer {
    font-size: 16px;
  }
}

.active {
  font-weight: 700;
}

.footer-parag {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  color: var(--accent-text-colour);
}

@media only screen and (min-width: 1200px) {
  .footer-parag {
    margin: 0px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-parag-desc {
    display: block;
    width: 415px;
    font-size: 16px;
    font-family: var(--third-family);
    color: var(--accent-text-colour);
    margin: 0px;
  }
}

@media only screen and (min-width: 1200px) {
  .span-footer {
    font-size: 16px;
  }
}
