.footer {
  padding: 0 32px 40px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.footer-nav-list {
  display: flex;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  color: var(--accent-text-colour);
}

.nav-link-footer {
  display: block;
  transition: var(--transition);
}

.nav-link-footer:hover,
.nav-link-footer:focus {
  transform: scale(1.1);
}

.active {
  font-weight: 700;
}

.footer-parag {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  color: var(--accent-text-colour);
}
