h2 {
  margin-bottom: 40px;
  font-family: var(--second-family);
  color: var(--accent-text-colour);
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  h2 {
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 56px;
  }
}

p {
  font-family: var(--font-family);
  font-size: 12px;
  color: var(--main-text-colour);
}

@media only screen and (min-width: 1200px) {
  p {
    font-size: 32px;
  }
}

.section-margin {
  margin-bottom: 80px;
}

@media only screen and (min-width: 1200px) {
  .section-margin {
    margin-bottom: 120px;
  }
}

.logo {
  transition: var(--transition);
  border-radius: 10px;
}

.logo:hover {
  box-shadow: 2px 3px 3px 0 #33a0fa;
}

.logo:active {
  box-shadow: 2px 3px 3px 0 var(--purple-button-active);
}

@media only screen and (min-width: 1200px) {
  .logo-footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    border-radius: 30px;
    width: 146px;
    height: 146px;
  }
}

.parag-wrapper {
  width: 256px;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media only screen and (min-width: 1200px) {
  .parag-wrapper {
    width: 862px;
    margin-bottom: 80px;
  }
}

.btn-arrowBack {
  position: absolute;
  left: 32px;
  top: 65px;
  border-radius: 30px;
  transition: var(--transition);
}

@media only screen and (min-width: 1200px) {
  .btn-arrowBack {
    top: 80px;
    left: 80px;
  }
}

@media only screen and (min-width: 1200px) {
  .btn-arrowBack:hover {
    transform: scale(1.07);
  }
}

@media only screen and (min-width: 1200px) {
  .back-arrow {
    width: 147px;
    height: 100px;
  }
}
