h2 {
  margin-bottom: 40px !important;
  font-family: var(--second-family);
  color: var(--accent-text-colour);
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  h2 {
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 56px;
  }
}

p {
  margin: 0 auto;
  font-family: var(--font-family);
  font-size: 12px;
  color: var(--main-text-colour);
}

@media only screen and (min-width: 1200px) {
  p {
    font-size: 32px;
  }
}

.section-margin {
  margin-bottom: 80px;
}

@media only screen and (min-width: 1200px) {
  .section-margin {
    margin-bottom: 120px;
  }
}

.logo {
  transition: var(--transition);
  border-radius: 10px;
}

.logo:hover {
  box-shadow: 2px 3px 3px 0 #33a0fa;
}

.logo:active {
  box-shadow: 2px 3px 3px 0 var(--purple-button-active);
}

.parag-wrapper {
  width: 256px;
  margin: 0 auto;
}
