<section class="section-margin" id="about">
  <h2>About the App</h2>
  <div class="about-box">
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/home/desc/about-picture.png   1x,
          ./img/home/desc/about-picture2x.png 2x
        "
        type="image/png"
      />

      <source
        media="(min-width: 320px)"
        srcset="
          ./img/home/mob/about-picture_mob.png   1x,
          ./img/home/mob/about-picture2x_mob.png 2x
        "
        type="image/png"
      />

      <img
        class="about-img"
        src="./img/mob/about-picture_mob.png"
        alt="about-img"
        width="110"
        height="162"
        loading="lazy"
      />
    </picture>

    <div class="about-parag-box">
      <p class="about-parag">
        Magical Merge is an enchanting merge puzzle game that invites players
        into a whimsical world filled with magic and mystery. Combine items and
        creatures to create powerful upgrades while solving intriguing puzzles
        that challenge your strategic skills. With captivating graphics and a
        delightful storyline, players embark on a journey to restore magic to
        their world. Whether you're a casual player or a puzzle enthusiast,
        Magical Merge offers an exciting experience for everyone.
      </p>
    </div>
  </div>
</section>
