<section class="secction-margin">
  <h2>Advantages</h2>

  <div class="advantages-box">
    <picture class="advantages-picture">
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/home/desc/advantages-picture.png   1x,
          ./img/home/desc/advantages-picture2x.png 2x
        "
        type="image/png"
      />

      <source
        media="(min-width: 320px)"
        srcset="
          ./img/home/mob/advantages-picture_mob.png   1x,
          ./img/home/mob/advantages-picture2x_mob.png 2x
        "
        type="image/png"
      />

      <img
        class="advantages-img"
        src="./img/home/mob/advantages-picture_mob.png"
        alt="header-logo"
        width="110px"
        height="162px"
        loading="lazy"
      />
    </picture>

    <ul class="list-advantages">
      <li class="item-advantages">
        <p class="parag-advantages">
          Experience a charming and colorful world filled with delightful
          characters and engaging merge mechanics.
        </p>
      </li>
      <li class="item-advantages">
        <p class="parag-advantages">
          Combine magical items and creatures to create powerful upgrades and
          unlock new possibilities in the game.
        </p>
      </li>
      <li class="item-advantages">
        <p class="parag-advantages">
          Explore unique levels filled with intriguing puzzles and challenges
          that stimulate your strategic thinking.
        </p>
      </li>
      <li class="item-advantages">
        <p class="parag-advantages">
          Regular updates bring new content, events, and special features,
          ensuring endless fun and excitement.
        </p>
      </li>
    </ul>
  </div>
</section>
