<section class="section-margin" id="gallery">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@latest/swiper-bundle.min.css"
  />

  <script src="https://cdn.jsdelivr.net/npm/swiper@latest/swiper-bundle.min.js"></script>

  <h2>Gallery</h2>
  <div class="gallery-container">
    <div class="swiper swiperGallery">
      <div class="swiper-wrapper">
        <div class="swiper-slide gallery" data-hash="gallery1">
          <div class="gallery-card">
            <img
              src="./img/home/gallery-picture-1.png"
              alt="galleryItem1"
              loading="lazy"
            />
          </div>
        </div>

        <div class="swiper-slide gallery" data-hash="gallery2">
          <div class="gallery-card">
            <img
              src="./img/home/gallery-picture-2.png"
              alt="galleryItem2"
              loading="lazy"
            />
          </div>
        </div>

        <div class="swiper-slide gallery" data-hash="gallery3">
          <div class="gallery-card">
            <img
              src="./img/home/gallery-picture-3.png"
              alt="galleryItem3"
              loading="lazy"
            />
          </div>
        </div>

        <div class="swiper-slide gallery" data-hash="gallery4">
          <div class="gallery-card">
            <img
              src="./img/home/gallery-picture-4.png"
              alt="galleryItem4"
              loading="lazy"
            />
          </div>
        </div>

        <div class="swiper-slide gallery" data-hash="gallery5">
          <div class="gallery-card">
            <img
              src="./img/home/gallery-picture-5.png"
              alt="galleryItem5"
              loading="lazy"
            />
          </div>
        </div>

        <div class="swiper-slide gallery" data-hash="gallery6">
          <div class="gallery-card">
            <img
              src="./img/home/gallery-picture-6.jpeg"
              alt="galleryItem6"
              loading="lazy"
            />
          </div>
        </div>

        <div class="swiper-slide gallery" data-hash="gallery7">
          <div class="gallery-card">
            <img
              src="./img/home/gallery-picture-7.jpeg"
              alt="galleryItem7"
              loading="lazy"
            />
          </div>
        </div>

        <div class="swiper-slide gallery" data-hash="gallery8">
          <div class="gallery-card">
            <img
              src="./img/home/gallery-picture-8.jpeg"
              alt="galleryItem8"
              loading="lazy"
            />
          </div>
        </div>

        <div class="swiper-slide gallery" data-hash="gallery9">
          <div class="gallery-card">
            <img
              src="./img/home/gallery-picture-9.jpeg"
              alt="galleryItem9"
              loading="lazy"
            />
          </div>
        </div>

        <div class="swiper-slide gallery" data-hash="gallery10">
          <div class="gallery-card">
            <img
              src="./img/home/gallery-picture-10.jpeg"
              alt="galleryItem10"
              loading="lazy"
            />
          </div>
        </div>

        <div class="swiper-slide gallery" data-hash="gallery11">
          <div class="gallery-card">
            <img
              src="./img/home/gallery-picture-11.jpeg"
              alt="galleryItem11"
              loading="lazy"
            />
          </div>
        </div>

        <div class="swiper-slide gallery" data-hash="gallery12">
          <div class="gallery-card">
            <img
              src="./img/home/gallery-picture-12.jpeg"
              alt="galleryItem12"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <button type="button" class="swiper-button-prev">
        <img
          class="gallery-arrow-prev"
          src="./img/home/desc/back-arrow.png"
          alt="left-arrow"
        />
      </button>
      <button type="button" class="swiper-button-next">
        <img
          class="gallery-arrow-next"
          src="./img/home/desc/next-arrow.png"
          alt="left-arrow"
        />
      </button>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
