<header class="header">
  <nav>
    <div class="box-header-nav">
      <a href="./index.html" aria-label="Go to the main page">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="./img/home/desc/logo.png 1x, ./img/home/desc/logo2x.png 2x"
            type="image/png"
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./img/home/mob/logo_mob.png   1x,
              ./img/home/mob/logo2x_mob.png 2x
            "
            type="image/png"
          />

          <img
            class="logo"
            src="./img/home/mob/logo_mob.png"
            alt="header-logo"
            width="52"
            height="52"
            loading="lazy"
          />
        </picture>
      </a>

      <ul class="list-nav">
        <li class="item-nav">
          <a href="#main" class="link-nav">Home</a>
        </li>
        <li class="item-nav">
          <a href="#advantages" class="link-nav">Advantages</a>
        </li>
        <li class="item-nav">
          <a href="#reviews" class="link-nav">Reviews</a>
        </li>
        <li class="item-nav">
          <a href="#about" class="link-nav">About the App</a>
        </li>
        <li class="item-nav">
          <a href="#gallery" class="link-nav">Gallery</a>
        </li>
      </ul>

      <button class="burger-btn" type="button">
        <svg class="burger-svg">
          <use
            href="./img/sprite.svg#burger-menu"
            width="25px"
            height="19px"
            fill="#004080"
          ></use>
        </svg>
      </button>
    </div>
  </nav>

  <div class="menu-box">
    <nav>
      <div class="mob-menu">
        <button class="close-menu-btn" type="button">
          <svg class="close-menu-svg">
            <use
              href="./img/sprite.svg#close-btn-icon"
              width="10px"
              height="10px"
              stroke="#004080"
            ></use>
          </svg>
        </button>

        <ul class="list-mob-nav">
          <li>
            <a class="link-mob-nav" href="#advantages">Advantages</a>
          </li>
          <li>
            <a class="link-mob-nav" href="#reviews">Reviews</a>
          </li>
          <li>
            <a class="link-mob-nav" href="#about">About the App</a>
          </li>
          <li>
            <a class="link-mob-nav" href="#gallery">Gallery</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="bg-mob-menu"></div>
</header>
