<header class="header">
  <nav class="nav">
    <div class="box-header-nav">
      <a
        class="header-logo"
        href="./index.html"
        aria-label="Go to the main page"
      >
        <picture class="header-picture">
          <source
            media="(min-width: 1200px)"
            srcset="./img/home/desc/logo.png 1x, ./img/home/desc/logo2x.png 2x"
            type="image/png"
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./img/home/mob/logo_mob.png   1x,
              ./img/home/mob/logo2x_mob.png 2x
            "
            type="image/png"
          />

          <img
            class="header-picture-logo"
            src="./img/home/mob/logo_mob.png"
            alt="header-logo"
            width="52px"
            height="52px"
            loading="lazy"
          />
        </picture>
      </a>

      <button class="burger-btn" type="button">
        <svg class="burger-svg">
          <use
            href="./img/sprite.svg#burger-menu"
            width="25"
            heigth="19"
            fill="#004080"
          ></use>
        </svg>
      </button>
    </div>
  </nav>

  <div class="menu-box">
    <div class="mob-menu">
      <nav class="mob-nav-menu">
        <button class="close-menu-btn" type="button">
          <svg class="close-menu-svg">
            <use
              href="./img/sprite.svg#close-btn-icon"
              width="10"
              heigth="10"
              stroke="#004080"
            ></use>
          </svg>
        </button>

        <ul class="list-mob-nav">
          <li class="item-mob-nav">
            <a class="link-mob-nav" href="">Advantages</a>
          </li>
          <li class="item-mob-nav">
            <a class="link-mob-nav" href="">Reviews</a>
          </li>
          <li class="item-mob-nav">
            <a class="link-mob-nav" href="">About the App</a>
          </li>
          <li class="item-mob-nav">
            <a class="link-mob-nav" href="">Gallery</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="bg-mob-menu"></div>
</header>
