<section id="ready">
  <div class="mainBox-ready">
    <div>
      <h3 class="ready-title">
        Ready to dive into a world of magical merging?
      </h3>
      <p class="ready-parag-desc">
        Download Magical Merge now and start your enchanting adventure today!
        Combine, explore, and create your way through a vibrant world of puzzles
        and surprises. Don’t miss out on the fun—join the magical journey now!
      </p>
    </div>

    <div class="ready-box">
      <p class="ready-parag">
        Download Magical Merge now and start your enchanting adventure today!
        Combine, explore, and create your way through a vibrant world of puzzles
        and surprises. Don’t miss out on the fun—join the magical journey now!
      </p>

      <div class="ready-box-picture">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/home/desc/ready-picture.png   1x,
              ./img/home/desc/ready-picture2x.png 2x
            "
            type="image/png"
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./img/home/mob/main-picture_mob.png   1x,
              ./img/home/mob/main-picture2x_mob.png 2x
            "
            type="image/png"
          />

          <img
            class="ready-img"
            src="./img/home/mob/main-picture_mob.png"
            alt="ready-picture"
            width="120px"
            height="120px"
            loading="lazy"
          />
        </picture>

        <h2 class="ready-logo-title">Magical Merge</h2>
      </div>
    </div>
  </div>

  <button class="btn-googlePlay">
    <a
      class="btn-googlePlay-link"
      href="https://play.google.com/store/apps/details?id=com.zymobile.merge.magical.gp"
      target="_blank"
    >
      <picture>
        <source
          srcset="
            ./img/home/desc/googlePlayLogo.png   1x,
            ./img/home/desc/googlePlayLogo2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ./img/home/mob/googlePlayLogo_mob.png   1x,
            ./img/home/mob/googlePlayLogo2x_mob.png 2x
          "
          media="(min-width: 320px)"
          type="image/png"
        />
        <img
          src="./img/home/mob/googlePlayLogo_mob.png"
          alt="google-play-logo"
          loading="lazy"
        />
      </picture>
    </a>
  </button>
</section>
