<section class="section-margin">
  <div class="service-main-box">
    <div class="service-picture-box">
      <button class="btn-arrowBack" type="submit">
        <a href="./index.html" aria-label="Go to the main page">
          <img
            class="back-arrow"
            src="./img/for-all/back-arrow.png"
            srcset="
              ./img/for-all/back-arrow.png   1x,
              ./img/for-all/back-arrow2x.png 2x
            "
            alt="back-arrow"
            width="36px"
            height="27px"
            loading="lazy"
          />
        </a>
      </button>

      <h2 class="service-title">Terms of Service</h2>
    </div>

    <div class="service-parag-box">
      <div class="service-text-box">
        <p class="service-parag-data">Last updated: 07.10.2024</p>
        <p class="service-main-parag">
          Thank you for choosing to play our game, available on
          cooljoyadventure.com.
        </p>
        <p>
          By downloading, accessing, or playing our game, you agree to these
          Terms of Service. Please read them carefully.
        </p>
      </div>

      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./img/service-page/desc/service-picture.png   1x,
            ./img/service-page/desc/service-picture2x.png 2x
          "
          type="image/png"
        />

        <source
          media="(min-width: 320px)"
          srcset="
            ./img/service-page/mob/service-picture_mob.png   1x,
            ./img/service-page/mob/service-picture2x_mob.png 2x
          "
          type="image/png"
        />

        <img
          class="service-picture"
          src="./img/service-page/mob/service-picture_mob.png"
          alt="picture-service"
          width="110px"
          height="160px"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
