<section class="section-margin">
  <div class="purchases-box">
    <h2 class="purchases-title">In-App Purchases and Website Payments</h2>
    <p class="purchases-parag">
      Our game may include in-app purchases, and cooljoyadventure.com may
      provide access to related services or offers. By making a purchase, you
      agree to pay the listed price for the item or service. All sales are
      final, and refunds are subject to the policies of the platform you use
      (e.g., Google Play Store or other payment providers linked to
      cooljoyadventure.com).
    </p>
  </div>
</section>
