<section class="section-margin">
  <h2>User Conduct</h2>
  <p class="conduct-parag">While using the game or website, you agree to:</p>

  <ul class="list-conduct">
    <li class="item-conduct">
      <p>Not engage in any behaviour that violates applicable laws.</p>
    </li>
    <li class="item-conduct">
      <p>
        Not cheat, exploit, or modify the game or website content in any
        unauthorized way.
      </p>
    </li>
    <li class="item-conduct">
      <p>
        Not use the game or website to transmit harmful, offensive, or
        inappropriate content.
      </p>
    </li>
  </ul>
</section>
