@import './home/header.scss';
@import './home/main.scss';
@import './home/advantages.scss';
@import './home/reviews.scss';
@import './home/about.scss';
@import './home/gallery.scss';
@import './home/ready.scss';

@import './terms-of-service/acceptance.scss';
@import './terms-of-service/disclaimer.scss';
@import './terms-of-service/governing.scss';
@import './terms-of-service/license.scss';
@import './terms-of-service/limitation.scss';
@import './terms-of-service/main.scss';
@import './terms-of-service/purchases-payments.scss';
@import './terms-of-service/termination.scss';
@import './terms-of-service/updates.scss';
@import './terms-of-service/user-conduct.scss';

@import './privacy-policy/information.scss';
@import './privacy-policy/links-websites.scss';
@import './privacy-policy/main.scss';
@import './privacy-policy/use-information.scss';

@import './additionally/container.scss';
@import './additionally/general-rules-tag.scss';
@import './additionally/footer.scss';
@import './additionally/btn-googlePlay.scss';

:root {
  font-size: 16px;
  font-weight: 400;

  --accent-text-colour: #004080;
  --main-text-colour: #22313f;
  --blue: #7ec3f2;
  --yellow: #f4e7b2;
  --green: #8dea88;
  --header-colour: #91dde6;
  --white: #fff;
  --purple-button-active: #9747ff;

  --transition: all 250ms linear;

  --font-family: 'PT Sans', sans-serif;
  --second-family: 'Baloo 2', sans-serif;
  --third-family: 'Merriweather', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
