@import './home/header.scss';
@import './home/main.scss';
@import './home/advantages.scss';
@import './home/reviews.scss';
@import './home/about.scss';
@import './home/gallery.scss';
@import './home/ready.scss';
@import './home/footer.scss';

@import './container.scss';
@import './additional.scss';

:root {
  font-size: 16px;
  font-weight: 400;

  --accent-text-colour: #004080;
  --main-text-colour: #22313f;
  --blue: #7ec3f2;
  --yellow: #f4e7b2;
  --green: #8dea88;
  --header-colour: #91dde6;
  --white: #fff;
  --purple-button-active: #9747ff;

  --font-family: 'PT Sans', sans-serif;
  --second-family: 'Baloo 2', sans-serif;
  --third-family: 'Merriweather', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
