.parag-use-info {
  margin-bottom: 10px !important;
}

.list-use-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.item-use-info {
  display: flex;
  width: 243px;
}

.item-parag-use-info {
  width: 204px;
}

.item-use-info::before {
  content: '';
  display: inline-block;
  background-image: url('/img/for-all/icon-key.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 26px;
  min-width: 26px;
  margin-right: 13px;
}
@media only screen and (min-resolution: 192dpi) {
  .item-use-info::before {
    background-image: url('/img/for-all/icon-key@2x.png');
  }
}
